@import "./responsive.scss";

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
        font-weight: 300;
        font-size: 2rem;
        text-align: center;

        @include sm {
            margin-top: 4vh;
        }
    }

    .item {
        display: flex;
        flex-direction: column;
        gap: 2px;

        label {
            font-size: 15px;
        }

        input,
        select {
            width: 100px;
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            font-size: 14px;
        }
    }

    .top {
        input {
            width: 100%;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 0.5rem;

        button {
            width: 4rem;
            height: 3rem;
            padding: 0px;
            border: none;
            cursor: pointer;
            background-color: #fece51;
            margin-top: 5px;
            border-radius: 0.5rem;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}